<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Tronion</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
	<div class="topnav" id="header">
		<a class="tronion" href="/">
			<span>
					Tronion
			</span>
		</a>

		<img src="img/onion.png" title="Thinking onion" align="left">

		<a class="button" ref="#profile">
			<img src="img/prof.png" title="Profile" align="right">
		</a>

        <a class="button" href="#manage">
			<span>Manage</span>
		</a>
        <a class="button" href="#join">
			<span>Join</span>
		</a>

	</div>

	<div class="background"
         style="background: url('img/gays.jpg');
                width: 100%;
                height: 45em;
                background-repeat: no-repeat;
                position: relative;
                background-size: cover;">
		<h3>Tap here to join room via room code</h3>
		<div class="arrow">
                <span></span>
                <span></span>
                <span></span>

		</div>
		<button class="join_button">
			Join room!
		</button>
		<a href="#content">
			<button class="title_button">
				Tronion is free and easy vote tool for your events. We provide:
			</button>
		</a>
	</div>

	<div class="content" id="content">
        <div class="container1">

        </div>
        <div class="container2">

        </div>
        <div class="container3">

        </div>
    </div>

    <div class="footer">
        <p>Footer</p>
    </div>

</body>
</html>