<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Tronion</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
<div class="topnav">
    <a class="active" href="">Tronion</a>
    <a href="#manage">Manage room</a>
    <a href="join">Join room</a>
    <a href="#profile">Edit profile</a>
</div>
</body>
</html>