<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create poll</title>
</head>
<body>

<form id="question">
    <div class="main">
    <div class="group">
                <label for="">Enter Question</label>
                <input type="text" name="question" placeholder="Question" id="question">
            </div>
    <div class="group">
                <label for="">Enter Life-time</label>
                <input type="text" name="life-time" placeholder="Life-time" id="life-time">
            </div>
    </div>
</form>

<form id="poll">

    <div class="copy">
        <label>Option:</label> <input type="text">
        <button class="remove">Remove</button>
    </div>
    <p>
        <button class="add">Add fields</button>
    </p>
</form>
    <div class="poll-submit">
        <button type="submit">Submit poll</button>
    </div>
</form>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript">
$(".add").click(function() {
    $("form > .copy").clone(true).insertBefore(".add");
    return false;
});

$(".remove").click(function() {
    $(this).parent().remove();
});

</script>

<script type="text/javascript">
    $(document).on('submit', '#question', function (e) {
        e.preventDefault();
        question = {
            question: $('#question').val(),
            life_time: $('#life_time').val(),
            note: $('#note').val(),
        }

        $.ajax({
            type: 'POST',
            url: '/create_poll',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(question),

            success: function () {
                alert("Create new poll");
            }

        });
    });
</script>
</html>