<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Tronion</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../styles/manage_room.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../scripts/room/get_users.js"></script>
</head>
<body>
<script src="../scripts/onload.js"></script>
<div class="topnav" id="header">
    <a class="tronion" href="/">
			<span>
					Tronion
			</span>
    </a>

    <img src="../img/onion.png" title="Thinking onion" align="left">

    <a class="button" href="/profile">
        <img src="../img/prof.png" title="Profile" align="right">
    </a>

    <a class="button" href="/manage">
        <span>Manage</span>
    </a>
    <a class="button" href="/join">
        <span>Join</span>
    </a>

</div>

<h2>Users in room: </h2>

<table>
  <tr>
    <th>First name</th>
    <th>Second name</th>
    <th>Id</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Anders</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Anders</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Anders</td>
    <td>1</td>
  </tr>

</table>


</body>


</html>