<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Tronion</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/styles/room.css">

</head>
<body>
	<div class="topnav" id="header">
		<a class="tronion" href="/">
			<span>
					Tronion
			</span>
		</a>

		<img src="img/onion.png" title="Thinking onion" align="left">

		<a class="button" ref="#profile">
			<img src="img/prof.png" title="Profile" align="right">
		</a>

        <a class="button" href="/manage">
			<span>Manage</span>
		</a>
        <a class="button" href="/join">
			<span>Join</span>
		</a>

	</div>


</body>

</html>