<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/polls/polls.css') }}">
    </head>
    <body>
        <h1>Are you understanding the lecture?</h1>
        <div class="poll">
            <div id="q11" class="q1 choice"><p>Yes</p></div>
            <div id="q12" class="q1 choice"><p>Maybe</p></div>
            <div id="q13" class="q1 choice"><p>No</p></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
        <script src="{{ url_for('static', filename='scripts/polls/vote.js') }}"></script>
    </body>
</html>
