html, body {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}


/* navigation bar */
.topnav {
  z-index: 9999;
  position:relative;
  padding: 10px 16px;
  overflow: hidden;
  width: 100%;
  background-color: #3A506B;
}

.topnav a.tronion {
  font-family: Arial;
  font-weight: bold;
  display:inline;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 3vh;
}

.topnav a {
  font-family: Arial;
  display: inline;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 2.5vh;
}


.topnav img {
  display: inline-block;
  white-space:nowrap;
  width: 4vh;
  height: 4vh;
}

.topnav a.button:hover {
  background-color: #ddd;
  color: black;
}
