html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}


/* navigation bar */
.topnav {
  z-index: 9999;
  position:relative;
  padding: 10px 16px;
  overflow: hidden;
  width: 100%;
  background-color: #3A506B;
}

.topnav a.tronion {
  font-family: Arial;
  font-weight: bold;
  display:inline;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 3vh;
}

.topnav a {
  font-family: Arial;
  display: inline;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 2.5vh;
}


.topnav img {
  display: inline-block;
  white-space:nowrap;
  width: 4vh;
  height: 4vh;
}

.topnav a.button:hover {
  background-color: #ddd;
  color: black;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
}

.welcome-registr{
height: 200px;
}
.welcome-registr p{
  text-align: center;
}

.reg{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
}
.group{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.group input{
  height: 45px;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 10px;
  outline: 0;
  font-size: 20px;
}
.group input::placeholder{
  opacity: 0.6;
}
.group input:focus{
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0 blue;
}
.reg-help{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}
.reg-help p{
  display: inline;
}

.reg-submit{
  margin-right: 30px;
  text-align: right;
  margin-top: 50px;
}
.reg-submit button{
  cursor: pointer;
  height: 40px;
  width: 100px;
  font-size: 16px;
  background: rgba(57, 114, 133, 0.23);
  border: none;
  margin-right: 30px;
  outline: 0;
}
.reg-submit button:hover{
  font-weight: bold;
  transform:scale(1.03);
}

@media screen and (max-width: 640px) {
  .reg{
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
}
