html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}


/* navigation bar */
.topnav {
    z-index: 9999;
    position: fixed;
    padding: 10px 16px;
    overflow: hidden;
    width: 100%;
    background-color: #3A506B;
}

.topnav a.tronion {
    font-family: Arial;
    font-weight: bold;
    display: inline;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 3vh;
}

.topnav a {
    font-family: Arial;
    display: inline;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 2.5vh;
}


.topnav img {
    display: inline-block;
    white-space: nowrap;
    width: 4vh;
    height: 4vh;
}

@media screen and (max-width: 768px) {
    .topnav a.tronion {
        font-family: Arial;
        font-weight: bold;
        display: inline;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        font-size: 2.5vh;
    }

    .topnav a {
        font-family: Arial;
        display: inline;
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        font-size: 2vh;
    }


    .topnav img {
        display: inline-block;
        white-space: nowrap;
        width: 3vh;
        height: 3vh;
    }

}

.main {
    padding-top: 70px;
}

.topnav a.button:hover {
    background-color: #ddd;
    color: black;
}

header nav a {
    color: white;
}

.question {
    margin-top: 50px;
    margin-bottom: 50px;
}

.question p {
    font-size: 30px;
    font-weight: bold;
}

.chat-button {
    border: 0;
    position: fixed;
    left: 92%;
    top: 90%;
    transform: translate(-92%, -90%);
    outline: none;
}

.chat-button:focus {
    outline: none;

}

.chat {
    border: 2px solid #dddddd;
    height: 840px;
}

.chatHeader p {
    font-size: 30px;
    font-weight: 600;
}

.chatMessages {
    height: 700px;
    border: 1px solid #dddddd;
    overflow-y: scroll;
}

input[type='text'] {
    width: 85%;
    border-radius: 5px;
    padding: 3px;
}

.chatBottom {
    margin-top: 20px;
}

.buttonsClass {
    padding-top: 60px;
}

.buttonsClass button {
    width: 200px;
    height: 50px;
    font-size: 14 px;
}


.space {
    margin-top: 500px;
}