<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Tronion</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles/join.css">
</head>
<body>
<div class="topnav" id="header">
    <a class="tronion" href="/">
			<span>
					Tronion
			</span>
    </a>

    <img src="img/onion.png" title="Thinking onion" align="left">

    <a class="button" ref="#profile">
        <img src="img/prof.png" title="Profile" align="right">
    </a>

    <a class="button" href="/manage">
        <span>Manage</span>
    </a>
    <a class="button" href="/join">
        <span>Join</span>
    </a>

</div>

<script type="text/javascript">
    window.onscroll = function () {
        myFunction()
    };
    var header = document.getElementById("header");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

<form id="join-form">
    <div class="wrapper">
        <p class="welcome">Enter room id</p>
        <div id="msg"></div>
        <div class="group">
            <input type="text" id="join" style="  height: 43px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 10px;
  outline: 0;
  font-size: 20px;
text-align: center" placeholder="Input 5 digits code.">
        </div>

        <div class="class-for-grid">
            <button type="submit">Join</button>


        </div>

    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).on('submit', '#join-form', function (e) {
        e.preventDefault();

        var code = $('#join').val();

        if (code != "" && code.length == 5) {

            $.ajax({
                method: "POST",
                url: '/join_room',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({'code' : code}),
                dataType: "json",
                headers: {"auth_token": localStorage.getItem('auth_token')},
                success: function (data) {
                    var room_code = data.room_data[0];
                    var room_name = data.room_data[1];
                    $('#msg').html(`<span style="color: green;">Success! Room exists</br>In a few seconds you will be `+
                        `conected to the room <b>${room_name}</b></span>`);
                    //Redirect to room
                    var timeout = 100;
                    setTimeout(function redirect() {location.replace(`/room/${room_code}`)}, timeout);
                },
                statusCode: {
                    400: function () {
                        $('#msg').html('<span style="color: red;">Bad request</span>');
                    },
                    404: function () {
                        $('#msg').html('<span style="color: red;">There is no room with this code</span>');
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });

        } else {
            $('#msg').html('<span style="color: red;">Input room code!</span>');
        }
    });
</script>
</body>
</html>